<div class="message {type}">
	<!--BeginSectUrlBefore-->
	<a href="{url}" class="notifier message_url">
	<!--EndSectUrlBefore-->
	{text}
	<!--BeginSectUrlAfter-->
	</a>
	<!--EndSectUrlAfter-->
	<!--BeginSectCloseBt-->
	<div style="float: right;">
		<a href="javascript:void(0);" class="hide">{_notifier_hide}</a>
	</div>
	<!--EndSectCloseBt-->
</div>
